/* CLASSI GENERICHE */
.gf-bg-orange,
.gf-bg-orange:hover{
    background-color: #cd3d0f;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#sony_logo {
    max-width: 100px;
    padding: 12px 10px;
}

#search{
    max-width: 30px;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

.areaSearch .dropdown-menu {
    border: none;
    background: none;
    padding: 0;
}

.dropdown-toggle::after{
    border-top: none;
    content: "\276E";
    position: relative;
    top: 5px;
    transform: scale(0.7) rotate(-90deg);
}

.gf-bg-image{
    margin-top: 100px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 630px;
}

#jumbo h2{
    font-size: 3rem;;
}

#jumbo p{
    font-size: 1.1rem;;
}

#banner-returnal{
    padding-left: 10px;
}

#cards img{
    padding: 5px;
}

#cards img:hover{
    padding: 2px;
    border: 3px solid blue;
}

#productDescription h6{
    font-size: 0.9rem;
    color: #077ed3;
    font-weight: 700;
}

#productDescription h2{
    font-size: 2.3rem;
    font-weight: 700;
}