/* CLASSI GENERICHE */
.gf-bg-orange,
.gf-bg-orange:hover{
    background-color: #cd3d0f;
}

.gf-bg-blue{
    background-color: #00439c;
}

.gf-bg-blueDark{
    background-color: #161c3b;
}

.gf-bg-gray{
    background-color: #bebcbb;
}

.gf-bg-graylight{
    background-color: #d9dadc;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#sony_logo {
    max-width: 100px;
    padding: 12px 10px;
}

#search{
    max-width: 30px;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

.areaSearch .dropdown-menu {
    border: none;
    background: none;
    padding: 0;
}

#navbarNavDropdown > ul > li > a{
    display: flex;
    align-items: center;
}

#navbarNavDropdown > ul > li > a::after{
    border-top: none;
    content: "";
    display: inline-block;
    background-image: url("../img/chevron-down-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

#navbarNavDropdown > ul > li > a:hover::after{
    background-image: url("../img/chevron-down-solid-hover.svg");
}

.gf-bg-imageJumbo{
    margin-top: 100px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 630px;
}

.gf-bg-imageJumbo2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    filter: brightness();
    background-position: center top;
    background-repeat: no-repeat;
}

#jumbo h2 {
    font-size: 3rem;;
}

#jumbo2 h2 {
    font-size: 2.5rem;;
}

#jumbo p,
#jumbo2 p{
    font-size: 1.1rem;;
}

#banner-returnal,
#itTakesTwo-logo {
    padding-left: 10px;
}

#cards img{
    padding: 5px;
}

#cards img:hover{
    padding: 2px;
    border: 3px solid blue;
}

#productDescription h6{
    font-size: 0.9rem;
    color: #077ed3;
    font-weight: 700;
}

#productDescription h2,
#sconti h2{
    font-size: 2.3rem;
    font-weight: 700;
}

#productDescription #products div{
    max-width: 20%;
}

#productDescription #products div:hover{
    border-bottom: 3px solid #007bff;
    margin-bottom: -3px;
}

#productDescription #products div:hover img{
    opacity: 1 !important;
}

#productDescription #products img{
    max-width: 100px;
    opacity: 0.7;
}

.active{
    border-bottom: 3px solid #007bff;
    margin-bottom: -3px;
}

#nuoveUscite h6{
    font-size: 0.8rem;
}

footer .row div div img{
    max-width: 15px;
}